<div class="main_container">
	<div id="full_img"><%= image_tag("publications_page_full.png")%></div>
	<div class="center hero-unit" id="img_caption">		
			<h2>Publications</h2>
			<br>
			<span class="bodyText">
				<ul>
					<li><a href="http://nathanmaton.github.io/OI-Git/">Improving Open Source Social Impact</a>, Self-Published (GitHub)</li>
					<li><a href="http://www.wired.com/magazine/2011/12/usc-film-students-practice-artistic-craft-through-games/">USC Film Students Practice Artistic Craft Through Games</a>, Wired</li>
					<li><a href="http://www.wired.com/magazine/2011/05/steering-community-driven-storytelling-with-bar-karma/">Steering Community Driven Story Telling With Bar Karma</a>, Wired</li>
					<li><a href="http://decenteredpolitics.wordpress.com/2013/05/12/learnings-from-sf-flex-academy/">Learnings From SF Flex Academy</a>, Self-Published</li>
					<li><a href="http://www.wired.com/magazine/2011/12/usc-film-students-practice-artistic-craft-through-games/">USC Film Students Practice Artistic Craft Through Games</a>, Wired</li>
					<li><a href="http://blogs.kqed.org/mindshift/2012/03/educational-games-that-make-you-sweat/">Educational Games That Make You Sweat</a>, NPR/KQED's Mindshift Educational Technology Blog</li>
					<li><a href="http://blogs.kqed.org/mindshift/2012/03/facebook-meets-college-apps-with-mission-admission/">Facebook Meets College Apps With Misssion Admission<a/>, NPR/KQED's Mindshift Educational Technology Blog</li>
					<li><a href="http://blogs.kqed.org/mindshift/2012/03/game-based-learning-without-video-games/">Game Based Learning Staring Homer</a>, NPR/KQED's Mindshift Educational Technology Blog</li>
					<li><a href="http://mindshift.kqed.org/2011/10/how-games-can-influence-learning/">How games can influence learning</a>, NPR/KQED's Mindshift Educational Technology Blog</li>
					<li><a href="http://www.rooseveltcampusnetwork.org/policy/increasing-access-information-networks-community-college-students">10 Ideas Education Policy</a>, Roosevelt Campus Network</li>
					<li><a href="http://blogs.villagevoice.com/runninscared/2008/06/urban_folklore.php">Urban Folklore: When the Olympics, Putt-putt, and Geometrical Picnicking Meet</a>,Village Voice</li>
					<li><a href="http://www.rit.edu/cla/curc/media/documents/Schedule%202010.pdf">New Media and National Identity Research Paper</a>, RIT Undergraduate Communications Journal</li>
					<li><a href="http://decenteredpolitics.wordpress.com/2009/09/30/my-rationale-draft/">College Rational</a>, Self-Published</li>

				</ul>	
			</span>
	</div>
</div>
