<div class="main_container">
	<div id="full_img"><%= if @full_img1.blank? then "" else image_tag(@full_img1) end %></div>
	<div id="full_img"><%= if @full_img2.blank? then "" else image_tag(@full_img2) end %></div>
	<div class="center hero-unit" id="img_caption">
		
		<h2><%= @full_title %></h2>
		<br>
		<%= @full_body.html_safe %>
	
	</div>

</div>

