<div class="main_container">
	<div id="full_img"><%= image_tag(@full_img1) %></div>
	<div id="full_img"><%= image_tag(@full_img2) %></div>
	<div id="img_caption">
		
		<h2><%= @full_title %></h2>
		<br>
		<%= @full_body.html_safe %>
	
	</div>

</div>

