@import "bootstrap";


$cream: #fbfbfb;
$darkgrey: #272727;
$orange: #ff9933;

/* universal */

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {

 /* padding-top: 60px;*/
 /* bg color ADDED BY NATHAN 9.3.12 */
 background-color: $darkgrey;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* NATHAN'S CUSTOM CSS */


/*HEADER*/
.header {
width: 1220px;
height: 100px;
background-color: $cream;
font-family: "Helvetica-Neue";
}

.header ul {
  /*float: right;*/
  list-style: none;
 /* padding-left: 150px;*/
}

.header ul li {
  float: left;
  margin-left: 0px;
  padding-right: 20px;
  
}

.header a {
  color: #333;
}  

/*
.header a:hover { 
  color: ##9999ff;
}
*/
.logo {
font-family: 'LeagueGothicRegular', Arial, sans-serif;
font-weight: normal;
font-size: 3.6em;
letter-spacing: 0;
text-transform: uppercase;
float: left;
padding: 30px 0px 0px 30px;

}

.logo:hover, .header a:hover {
  color: #9999ff;
  text-decoration: none;
}

.tagline {
float: left;
font-family: 'PTSansNarrowRegular', Arial, sans-serif;
font-size: 21px;
padding: 23px 0px 0px 30px;
}

.header_contact_info {
font-family: 'PTSansNarrowRegular', Arial, sans-serif;
font-size: 14px;
padding-top: 5px;
position: relative;
left: -25px;
}


/* BODY */

.main_container {
padding-top: 30px;
padding-left: 30px;
}

.featured {
padding-right:4px;
padding-bottom: 4px;
display: inline-table;
width: 320px;
height: 320px;

}

#img_label {
color: white;
font-family: Arial;
font-size: 20px;
background-color: $orange;
position: absolute;
float:left;
padding:4px 20px 4px 10px;
}


.large_image {

}

/* FOOTER  from Rails Tutorial */
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid #eaeaea;
  background-color: $cream;
  a {
  	color: #555; 
   	&:hover { 
  		color: #222;
	}
  }
  small {
  float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
	}
  }
}  