 <div class="header">
  	<%= link_to "Maton", '/', class: "logo" %>
<!--  	<div class="logo"> 		COMMENTED OUT TO TRY RAILS CODE
  		<strong>Maton</strong>
    </div> -->
    <div class = "tagline">
    	Web Development, Learning Design & Games 
  
    	<ul class = "header_contact_info">
			<li><%= link_to "@nathanmaton",    'http://twitter.com/nathanmaton' %></li>
			<li><%= link_to "nathanmaton@gmail.com",    'mail:nathanmaton@gmail.com' %></li>
			<li>(301) 641-8246</li>
    </div>
  </div>